djflix/__pycache__/__init__.cpython-311.pyc
djflix/__pycache__/settings.cpython-311.pyc
djflix/__pycache__/urls.cpython-311.pyc
djflix/__pycache__/wsgi.cpython-311.pyc
portal/__pycache__/__init__.cpython-311.pyc
portal/__pycache__/apps.cpython-311.pyc
portal/__pycache__/models.cpython-311.pyc
portal/__pycache__/urls.cpython-311.pyc
portal/__pycache__/views.cpython-311.pyc
portal/migrations/__pycache__/__init__.cpython-311.pyc

