{% extends "base.html" %}


{% block content%}
<!-- ======= Contact Section ======= -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-phone"></i>
              <p>
                <span>Lunes a Viernes (9am-5pm)</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-envelope"></i>
              <p>
                Email: info@djflix.com<br>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-geo-alt"></i>
              <p>
                Ubicacion: Buenos Aires, Argentina<br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Start  contact -->
        <div class="col-md-6">
          <div class="form contact-form">
            {% csrf_token %}
            <form action="" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Nombre y apellido" required>
              </div>
              <div class="form-group mt-3">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Comentarios" required></textarea>
              </div>
              <div class="my-3">

                <div class="error-message"></div>
                <div class="sent-message">Su mensaje fue enviado con exito. Gracias!</div>
              </div>
              <div class="text-center"><button type="submit">Enviar mensaje</button></div>
            </form>
          </div>
        </div>
        <!-- End Left contact -->


      </div>
    </div>
  </div>
</div><!-- End Contact Section -->
{%endblock%}
        




