<div class="container d-flex justify-content-between">

    <div class="logo">
      <h1><a href="{% url "index" %}"><span>DJ</span>Flix</a></h1>
      
    </div>

    <nav id="navbar" class="navbar">
        <li><a class="nav-link scrollto active" href="{% url "index" %}">Inicio</a></li>
        <li><a class="nav-link scrollto" href="{% url "Peliculas" %}">Peliculas</a></li>
        <li><a class="nav-link scrollto" href="{% url "Precios" %}">Precios</a></li>
        <li><a class="nav-link scrollto" href="{% url "Contacto" %}">Contacto</a></li>
        <li><a class="nav-link scrollto" href="#services">Login</a></li>
        <li><a class="nav-link scrollto" href="#portfolio">Register</a></li>
      </ul>
      <!-- search option start -->
      
      <!-- search option end -->
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>

  </div>