
{% extends "base.html" %}
<main>

  {% block content%}
     <!-- ======= icon Section ======= -->
<div id="contact" class="contact-area">
  <div class="contact-inner area-padding">
    <div class="contact-overly"></div>
    <div class="container ">
      
      <div class="row">
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-phone"></i>
              <p>
                <span>{% if es_suscriptor %}
                  <p> <strong>Tu rol es:</strong> suscriptor </p>
                 
                  {% else %}
                  <p> Tu rol es: administrador </p>
                  {% endif %}</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-calendar"></i>
              <p>
                Tus favoritos<br>
              </p>
            </div>
          </div>
        </div>
        <!-- Start contact icon column -->
        <div class="col-md-4">
          <div class="contact-icon text-center">
            <div class="single-icon">
              <i class="bi bi-geo-alt"></i>
              <p>
                Ubicacion: Buenos Aires, Argentina<br>
              </p>
            </div>
          </div>
        </div>
      </div>


<!-- START GALERIA DE PELICULAS DISPONIBLES POR CATEGORIA-->

        <ul>
          {% for nombre_pelicula in listado_peliculas%}
            <li>
                <p> {{nombre_pelicula | lower}} </p>  
                <p> {{fecha}} </p>
               
            </li>
            {% empty %}
            <p> No hay peliculas dsponibles </p>
          {% endfor %}
        </ul>

{%endblock%}
        
     <!-- END GALERIA DE PELICULAS -->
    </main>
   
    
</body>
</html>